/*********************
****    ENTETE    ****
*********************/

#entete
{
	text-align       : center;
	padding          : 25px 0;
	box-shadow       : 0 5px 30px rgba(0, 0, 0, 0.5);
	background-color : #01597D;
	margin-bottom    : 10px;
}

.siteHeader
{
	font-size   : 50px;
	color       : white;
	font-family : slabo, serif;
}

/*******************
****    MENU    ****
*******************/

.top-bar, .top-bar-section li:not(.has-form) a:not(.button)
{
	background-color : #01597D;
	font-size        : 16px;
	font-weight      : bold;
	color            : #ECFAFF;
	font-family      : slabo, serif;
}

.top-bar-section li:not(.has-form) a:not(.button):hover
{
	background-color : #3B5E7F;
}

.sticky
{
	box-shadow       : 5px 5px 30px rgba(0, 0, 0, 0.5);
	background-color : #01597D;
}

.top-bar.expanded .title-area,
.top-bar.expanded .toggle-topbar a
{
	background-color : #3B5E7F;
	color            : #FFFFFF;
}

.top-bar.expanded .title-area,
.top-bar.expanded .toggle-topbar a span::after
{
	box-shadow : 0 0 0 1px #FFF, 0 7px 0 1px #FFF, 0 14px 0 1px #FFF;
}

.fixed
{
	box-shadow : 5px 5px 30px rgba(0, 0, 0, 0.5);
}

#siteMenu
{
	margin-bottom : 30px;
}

.top-bar-section .dropdown li:not(.has-form):not(.active) > a:not(.button),
.top-bar-section ul li:hover:not(.has-form) > a
{
	background-color : #3B5E7F;
}

.top-bar-section .dropdown li:not(.has-form):not(.active) > a:not(.button):hover
{
	background-color : #01597D;
}

/*********************
****    FOOTER    ****
*********************/

#footer p
{
	text-align : center;
	font-size  : 12px;
}


/**********************
****    GENERAL    ****
**********************/

body
{
	background-color : #F1F1F1;
}

.panel
{
	box-shadow       : 2px 2px 30px rgba(0, 0, 0, 0.5);
	background-color : #FFF;
	border           : solid #01597D;
	font-family      : lato, serif;
}

.panel h1
{
	color : #02DCC3;
}

/* Désactivation du spin-button des champs number */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

table tr th, table tr td
{
	padding: 5px;
}